/* ----------------
    Common Style
----------------- */

body {
    margin: 0;
    padding: 0;
    background: #F3F1FF;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

section.container {
    background: #fff;
    padding: 30px;
    margin: 25px auto;
    box-shadow: 0 0 12px #0000003b;
    border-radius: 10px;
}

hr {
    margin: 40px auto;
    opacity: 0.5;
}


img {
    width: 100%;
}


/* ---------------------
    Header Style Start 
 -----------------------*/

header {
    background-color: #562EFF;
}

.navbar,
.left,
.right,
ul {
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 56px;
    margin-right: 10px;
}

.left {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.right ul {
    list-style: none;
}

.right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 20px 20px;
}

/* ---------------------- 
    Top Player & Top Blog
------------------------- */

/* Top Players */

.title {
    font-size: 2em;
    color: #7655FF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 150px;
    margin-right: 20px;
}

h2 {
    color: #252525;
    font-weight: 500;
}

/* Top Blogs */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
}

.blog {
    display: flex;
}

.blog-image {
    width: 40%;
}


.blog-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 40px 20px;
}

.blog-title {
    font-size: 2em;
}

.author {
    color: #7757FF;
}

.author span {
    color: rgb(124, 124, 124);
}

/* ---------------------- 
    Letest Courses
------------------------- */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.course {
    margin: 0 10px;
    padding: 15px;
    box-shadow: 0 0 12px #0000001a;
    border-radius: 10px;
}

.course h2 {
    font-size: 2em;
}

.course-author {
    color: #ED6B4F;
    font-size: 18px;
}

.course-ratings,
.course-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #A2A2A2;
}

.course-ratings img {
    width: 20px;
    margin: 3px;
}

.course-duration {
    background-color: #FFE4E8;
    color: #FF4A60;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}